@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    @Html.Partial("_LeafletHeader")
}
<h2>Work Sites</h2>
<p>
    @Html.ActionLink("New Site", "New", "WorkSite", null, new { @class = "btn btn-primary" })
</p>
<div id="mapid" style="height: 400px;"></div>
<div id="out"></div>

<table id="sites" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="testjax"></div>

@section scripts{
    @Scripts.Render("~/Scripts/leaflet-basics.js");
    <script>
        $(document).ready(function () {
            var siteMap = setUpMap();

            var table = null;

            $.getJSON("/api/worksites", { get_param: 'value'}, function(jsonData) {
                if (jsonData.length != 0) {
                    siteMap.setView([jsonData[0].lat, jsonData[0].lng], 13);
                } else {
                    geoFindMe(siteMap);
                }


                table = $('#sites').DataTable({
                    data: jsonData,
                    columns: [
                        {
                            data: "name",
                            render: function(data, type, worksite) {
                                return "<a href='/worksites/edit/" + worksite.id + "'>" + worksite.name + "</a>";
                            }
                        },
                        {
                            data: "streetAddress"
                        },
                        {
                            data: "id",
                            render: function(data, type, worksite) {
                                return "<button class='btn-link js-delete' data-worksite-id=" + data 
                                    + " data-worksite-name='" + worksite.name + "'>Delete</button>";
                            }
                        }
                    ]
                });

                $.each(jsonData,
                    function (index, element) {
                        L.marker([element.lat, element.lng],
                            {
                                title: element.name
                            }).bindPopup("<b>" + element.name + "</b><br>" + element.streetAddress)
                            .addTo(siteMap);
                    });
            });

            $("#sites").on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm({
                    title: "Delete: " + button.attr("data-worksite-name"),
                    message: "Are you sure you want to delete this work site?",
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/worksites/" + button.attr("data-worksite-id"),
                                method: "DELETE",
                                success: function() {
                                    table.row(button.parents("tr")).remove().draw();

                                }
                            });
                        }
                    }
                });
            });



        });
    </script>
}
