@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    @Html.Partial("_LeafletHeader")
}
<h2>Work Sites</h2>
<p>
    @Html.ActionLink("New Site", "New", "WorkSite", null, new { @class = "btn btn-primary" })
</p>
<div id="mapid" style="height: 400px;"></div>
<div id="out"></div>

<table id="sites" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts{
    @Scripts.Render("~/bundle/jqueryval")

    <script>
        function geoFindMe(map) {
            var output = document.getElementById("out");

            if (!navigator.geolocation) {
                output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
                return;
            }

            function success(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                map.setView([latitude, longitude], 13);

                output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';
            }

            function error() {
                output.innerHTML = "Unable to retrieve your location";
            }

            output.innerHTML = "<p>Locating…</p>";

            navigator.geolocation.getCurrentPosition(success, error);
        }

        function setUpMap() {
            var siteMap = L.map('mapid');
            L
                .tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidGVtcGxhcml0IiwiYSI6ImNpeGlzZzBnOTAwMWgycXBwY3B2bXpmMmYifQ._PR4hh8x3p9boZ3AUvVdSw',
                {
                    attribution:
                        'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets'
                }).addTo(siteMap);

            return siteMap;
        }

        $(document).ready(function () {
            // Set up map
            var siteMap = setUpMap();

            // Focus map on current location
            geoFindMe(siteMap);

            var table = $('#sites').DataTable({
                ajax: {
                    url: "/api/worksites",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, worksite) {
                            return "<a href='/worksites/edit/" + worksite.id + "'>" + worksite.name + "</a>";
                        }
                    },
                    {
                        data: "streetAddress"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-worksite-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });
    </script>
}
