@model IEnumerable<Vigilance.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Accounts Administration</h2>

<table id="usersTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>

        $(document).ready(function() {

            var table = $("#usersTable").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userName",
                        render: function(data, type, user) {
                            return "<a href='/users/edit/" + user.userId + "'>" + data + "</a>";
                        }
                    },
                    {
                        render: function(data, type, user) {
                            return (user.lastName !== "") ? user.lastName + ", " + user.firstName : "";
                        }
                    }
                ]
            });

        });

    </script> 
}
