@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    @Html.Partial("_LeafletHeader")
}
<h2>Work Sites</h2>

<div id="mapid" style="height: 400px;"></div>
<div id="out"></div>
<p>
    @Html.ActionLink("New Site", "New", "WorkSites", null, new { @class = "btn btn-primary" })
</p>

<table id="sites" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="testjax"></div>

@section scripts{
    @Scripts.Render("~/bundles/app");
    @Scripts.Render("~/bundles/workSites");
    <script>
        $(document).ready(function () {
            WorksitesListController.init();
        });
    </script>
}
