
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    @Html.Partial("_LeafletHeader")
}
<h2>Work Sites</h2>
<div id="mapid" style="height: 400px;"></div>
<div id="out"></div>

<table id="sites" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="testjax"></div>

@section scripts{
    @Scripts.Render("~/Scripts/leaflet-basics.js");
    <script>
        $(document).ready(function () {
            var siteMap = setUpMap();
            geoFindMe(siteMap);
                    //siteMap.setView([jsonData[0].lat, jsonData[0].lng], 13);

            var mapLayerGroup = L.layerGroup().addTo(siteMap);

            var table = null;

            $.getJSON("/api/worksites", { get_param: 'value'}, function(jsonData) {
                table = $('#sites').DataTable({
                    data: jsonData,
                    columns: [
                        {
                            data: "name"
                        },
                        {
                            data: "streetAddress"
                        }
                    ]
                });

                $.each(jsonData,
                    function (index, element) {
                        var marker = L.marker([element.lat, element.lng],
                            { title: element.name })
                            .bindPopup("<b>" + element.name + "</b><br>" + element.streetAddress);
                        marker.id = element.name;
                        mapLayerGroup.addLayer(marker);
                    });
            });

        });
    </script>
}
