@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    @Html.Partial("_LeafletHeader")
}
<h2 id="nearestSite">Loading worksites...</h2>
<div id="mapid" style="height: 400px;"></div>
<div id="out" userLat="0" userLng="0"></div>

<div id="logbtns"></div>

<table id="sites" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@Html.Hidden("selectedWorkSite", "")

@section scripts{
    @Scripts.Render("~/Scripts/leaflet-basics.js");
    <script>
        function setSelectedSite(siteName, siteId) {
            $('#nearestSite').text("Selected: " + siteName);

            $.getJSON("/api/timesheets/" + siteId, function (jsonData) {
                if (jsonData.dateTime == null) {
                    $('#logbtns').append('<button class="btn btn-success js-logon" data-siteId=' + siteId + '>Logon</button>');
                } else {
                    $('#logbtns').append('<button class="btn btn-warning js-logoff" data-siteId=' + siteId + '>Logoff</button>');
                }
            });
        }

        function onMarkerClick(e) {
            setSelectedSite(e.target.title, e.target.id);
        }

        function getWorkSite(sites, siteId) {
            var matchedSite = null;
            $.each(sites, function(index, element) {
                if (element.id == siteId) {
                    matchedSite = element;
                }
            });

            return matchedSite;
        }

        $(document).ready(function () {
            var siteMap = setUpMap();
            geoFindMe(siteMap);

            var selectedSite = null;
            var currentCenter = null;

            var mapLoaded = $.Deferred();
            siteMap.on('load', function (e) {
                currentCenter = e.target.getCenter();
                mapLoaded.resolve();
            });

            var mapLayerGroup = L.layerGroup().addTo(siteMap);

            var workSites = null;

            var tableLoaded = $.getJSON("/api/worksites", { get_param: 'value' }, function (jsonData) {
                workSites = jsonData;
                $('#sites').DataTable({
                    data: jsonData,
                    columns: [
                        {
                            data: "name",
                            render: function (data, type, workSite) {
                                return "<button class='btn-link js-select' data-lat=" + workSite.lat + " data-lng=" + workSite.lng +" data-siteId=" + workSite.id + ">" + data + "</button>";
                            }
                        },
                        {
                            data: "streetAddress"
                        }
                    ]
                });

                $.each(jsonData, function (index, element) {
                    var marker = L.marker([element.lat, element.lng],
                            { title: element.name })
                        .bindPopup("<b>" + element.name + "</b><br>" + element.streetAddress)
                        .on('click', onMarkerClick);
                    marker.id = element.id;
                    mapLayerGroup.addLayer(marker);
                });
            });

            $("#sites").on("click", ".js-select", function() {
                var button = $(this);

                siteMap.setView([button.attr("data-lat"), button.attr("data-lng")], 13);
                setSelectedSite(button.text(), button.attr("data-siteId"));
            });

            $("#logbtns").on("click", ".js-logon", function() {
                var site = getWorkSite(workSites, $(this).attr("data-siteId"));
                var vm = {
                    workSiteId: site.id,
                    siteName: site.name,
                    siteLat: site.lat,
                    siteLng: site.lng,
                    siteAddress: site.streetAddress
                }

            });

            $.when(mapLoaded, tableLoaded).done(function (e) {
                var shortestDistance = 0;
                var closeSite = null;
                $.each(workSites, function(index, element) {
                    var siteLoc = L.latLng(element.lat, element.lng);
                    var dist = currentCenter.distanceTo(siteLoc);
                    if (shortestDistance == 0) {
                        shortestDistance = dist;
                        closeSite = element;
                    } else {
                        if (dist < shortestDistance) {
                            shortestDistance = dist;
                            closeSite = element;
                        }
                    }
                });

                selectedSite = closeSite;
                siteMap.setView([selectedSite.lat, selectedSite.lng], 13);
                setSelectedSite(selectedSite.name, selectedSite.id);
            });
        });
    </script>
}
