
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Site Time Sheets</h2>

<table id="worksites" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<h2>User Time Sheets</h2>

<table id="workers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function() {

            var table = $("#workers").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userName",
                        render: function (data, type, user) {
                            return "<a href='/timeSheets/list/" + user.userId + "'>" + user.userName + "</a>";
                        }
                    },
                    {
                        render: function(data, type, user) {
                            return user.lastName + ", " + user.firstName;
                        }
                    }
                ]
            });

            var table = $("#worksites").DataTable({
                ajax: {
                    url: "/api/worksites",
                    dataSrc: ""
                },
                columns: [
                    {
                        render: function (data, type, worksite) {
                            return "<a href='/timeSheets/worksite/" + worksite.id + "'>" + worksite.name + "</a>";
                        }
                    },
                    {
                        render: function(data, type, worksite) {
                            return worksite.streetAddress;
                        }
                    }
                ]
            });

        });
    </script>
}